/* color variables */
:root{
    /* css variables */
    --orange: #EC360E;
    --blue: #191847;
    --white: #FFFFFF;
    --Gray: #F9F9F9;
}

/* color variables */
/* #######################################Home Page##################################  */
/* navbar style */
.sidebar{
    display: block;
}
.sidebar ul{
    margin: 0;
    padding: 2rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.sidebar ul li{
    list-style: none;
}
.sidebar .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}
.sidebar .user img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.sidebar .user a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--orange);
}
.sidebar ul li .link span{
    width: 1rem;
    height: 1rem;
    background-color: var(--blue);
    padding: 0.5rem;
    margin-right: .3rem;
    color: var(--white);
    border-radius: .2rem;
}
.sidebar li .link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--blue);
    position: relative;
    padding: 20px 0 20px 25px;
}
.sidebar ul li .link:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--orange);
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
    margin-right: -2rem;
}
.sidebar ul li .link:hover{
    color: var(--white);
    margin-left: 1rem;
}
.sidebar ul li .link:hover span{
    background-color: var(--white);
    color: var(--orange);
}
.sidebar ul li .link:hover:before{
    width: 120%;
}
/* navbar style */
.wrapper{
    margin-left: 390px;
    height: 100vh;
    width: 67%;
}
/* navbar style */
.menubar{
    width: 100%;
    height: 5rem;
    background-color: var(--white);
    margin-top: .7rem;
    padding-inline: 1rem;
    padding-top: 1.7rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: .7rem;
}

.menubar ul{
    display: flex;
    align-items: space-around;
    justify-content: space-between;
    flex-direction: row;
}
.menubar li{
    list-style: none;
}
.menubar .logo img{
    width: 8rem;
    height: 2rem;
}
.nav-icons a i{
    padding: 0 .7rem;
    font-size: 1rem;
}
/* navbar style */
/* Info Section style */
.info{
    width: 100%;
    height: 20rem;
    display: flex;
    gap: 1rem;
    align-items: space-between;
    padding-top: 1rem;
}
.info-card1, .info-card2{
    width: 50%;
    background-color: var(--white);
    border-radius: 1.5rem;
}
.info-card1 {
    padding: 1.5rem;
    line-height: -2.4rem;

}
.info-card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-card1 h3{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: .8rem;
}
.info-card1 h6{
    font-weight: 600;
    font-size: 1rem;
    /* display: inline; */
}
.info-card1 p{
    text-align: end;
    font-size: .9rem;
    margin-top: -.9rem;
    text-transform: uppercase;
}
.info-card1 p a{
    text-decoration: none;
    color: var(--orange);
}
.progress-container {
    position: relative;
    width: 150px;
    height: 150px;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid var(--Gray);
    border-radius: 50%;
}

.progress-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px solid var(--orange);
    border-radius: 50%;
    clip-path: conic-gradient(var(--orange) 0%, var(--orange) 0%);
    animation: progress-fill 2s linear forwards;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: var(--orange);
}
.progress-btn{
    margin-top: 3rem;
    padding: .5rem .8rem;
    border-radius: 1.2rem;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-weight: 500;
    transition: scale 0.2 ease;
    background: transparent;
}
.progress-btn:hover{
    background-color: var(--orange);
    color: var(--white);
    scale: 1.05;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@keyframes progress-fill {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Info Section style */
/* Lessons Section style */
.lessons{
    width: 100%;
    height: 60vh;
}
.lessons-nav{
    width: 100%;
    display: flex;
    align-items: space-between;
    flex-direction: row;
    background: var(--white);
    height: 5rem;
    border-radius: .7rem;
    margin: .8rem 0;
    padding: 1.3rem 2rem;
}
.lessons-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.lessons-cards .lesson-card{
    background: var(--white);
    border-radius: .4rem;
    display: inline;
    flex: 0 1 32%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.lessons-cards .lesson-card img{
    width: 15rem;
    height: 15rem;
    display: block;
}
.lessons-cards .lesson-card .lesson-text{
    width: 100%;
    height: 3rem;
    background-color: rgba(10, 10, 10, 0.863);
    border-radius: 0 0 .4rem .4rem;
    padding: 1.5rem auto;
}
.lessons-cards .lesson-card .lesson-text p{
    text-align: center;
    padding-top: .4rem;
}
.lessons-cards .lesson-card .lesson-text a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
}
/* Lessons Section style */
/* Footer Section style */
.footer-text{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }
  /* Footer Section style */
