/* #####Media Query for small screen######### */
@media screen and (max-width: 992px) {
    /* #####Navigation Bar######### */
    .navbar .nav-links,
    .navbar .active_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: none;
    }
    /* #####Navigation Bar######### */
}

/* #####Media Query for smaller screen######### */
@media screen and (max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}