/* color variables */
:root{
  /* css variables */
  --orange: #EC360E;
  --blue: #191847;
  --white: #FFFFFF;
  --Gray: #F9F9F9;
}

/* color variables */
/* #######################################Home Page##################################  */
/* navbar style */
header{
    position: relative;
    padding: 0 0.2rem;
    background-color: var(--white);
    height: 5rem;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
}
li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: var(--blue);
    font-size: 1rem;
}
.navbar{
    width: 100%;
    height: 2rem;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo h1{
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: -4.7rem;
    margin-left: 3.2rem;
}
.navbar .logo span{
    color: var(--orange);
}
.navbar .logo img{
    height: 5rem;
    width: 5rem;
    margin-top: 2.3rem;
    display: inline-block;
    margin-left: -.2rem;
}
.navbar .nav-links{
    display: flex;
    gap: 3rem;
    margin-top: 3.7rem;
    font-weight: 500;
}
.navbar .active_btn{
    margin-top: 3rem;
    padding: .5rem .8rem;
    border-radius: 1.2rem;
    border: 2px solid var(--orange);
    color: var(--orange);
    font-weight: 500;
    transition: scale 0.2 ease;
}
.navbar .active_btn:hover{
    background-color: var(--orange);
    color: var(--white);
    scale: 1.05;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.active_btn:active{
    scale: 0.95;
}
.navbar .toggle_btn{
    margin-top: 3.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.nav-links li{
    padding: .5rem .8rem;
    border-radius: 1.2rem;
}
.nav-links li:hover{
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.nav-links li:hover a{
    color: var(--white);
}
/* Dropdown Menu */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: var(--blue);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
    color: var(--white);
}
.dropdown_menu.open{
    display: block;
    height: 320px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dropdown_menu li a{
    color: var(--white);
}
.dropdown_menu li a:hover{
    color: var(--orange);
}
.dropdown_menu .action_btn{
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem auto;
    height: 3rem;
    border-radius: 5rem;
}
/* navbar style */
/* ######Hero Section###########  */
.hero {
    background-color: var(--blue);
    color: var(--white);
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5rem;
  }
  .hero .hero-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .hero .hero-content .hero-left {
    max-width: 40%;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
  }
  .hero .hero-content .hero-left h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .hero .hero-content .hero-left p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .hero .hero-content .hero-left .rounded-button {
    background-color: transparent;
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid var(--white);
  }
  .hero .hero-content .hero-left .rounded-button:hover {
    background-color: var(--orange);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    color: #ffffff;
  }
  .hero .hero-content .hero-right {
    max-width: 60%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-content .hero-right img {
    max-width: 100%;
    height: auto;
    margin-bottom: -3rem;
    margin-top: 3rem;
  }
/* ######Hero Section###########  */
/* ######Info Section###########  */
.buttons-section {
    width: 80%;
    border-radius: 0.8rem;
    margin: 0 7rem;
    margin-top: -2rem;
    background-color: var(--white); /* White background */
    padding: 3rem 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* background shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
  }
  .buttons-section .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }
  .buttons-section .buttons-container .rounded-button {
    background-color: transparent; /* No background color */
    color: var(--orange); /* Use the secondary color for the text */
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 2px solid var(--orange); /* Rounded border using the secondary color */
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  .buttons-section .buttons-container .rounded-button:hover {
    background-color: var(--orange);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    color: var(--white);
  }
/* ######Info Section###########  */
/* ######Services Section###########  */
.services-section {
    background-color: var(--Gray); 
    padding: 1rem 0;
  }
  .services-section .services-header {
    max-width: 1200px;
    width: 100%;
    margin: -1.5rem auto;
  }
  .services-section .services-header h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--blue); 
    width: 100%; 
  }

  .services-section .services-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
  }
  .services-section .services-container .service-card {
    flex: 1;
    background-color: var(--white); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    margin: 0 1rem; 
  }
  .services-section .services-container .service-card i {
    font-size: 3rem;
    color: var(--blue); 
    margin-bottom: 1rem;
  }
  .services-section .services-container .service-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .services-section .services-container .service-card a {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 700;
    text-decoration: none;
    width: 100%;
    display: block;
    color: var(--blue);
  }
  .services-section .services-container .service-card:hover {
    background-color: var(--orange);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    color: var(--white);
  }
  .services-section .services-container .service-card:hover i,
  .services-section .services-container .service-card:hover a {
    color: var(--white);
  }
  /* ######Services Section###########  */
   /* ######Category Section###########  */
   .featured-courses-section {
    padding: 3rem 0;
  }
  .featured-courses-section .featured-courses-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: -2rem;
    display: flex;
    flex-wrap: wrap; 
  }
  .featured-courses-section .featured-courses-container h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: -.5rem;
    color: var(--orange); 
    width: 100%; 
  }
  .featured-courses-section .featured-courses-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .featured-courses-section .featured-courses-container .first-card {
    width: 30%;
    padding-top: 4rem;
  }
  .featured-courses-section .featured-courses-container .first-card h4 {
    text-align: start;
    font-size: 1.4rem;
    color: var(--orange);
    margin-bottom: -.3rem;
  }
  .featured-courses-section .featured-courses-container .first-card h3 {
    text-align: start;
    font-size: 2.4rem;
    margin-bottom: 0.3rem;
    color: var(--blue);
  }
  .featured-courses-section .featured-courses-container .first-card p {
    text-align: justify;
    font-size: 1.4rem;
  }
  .featured-courses-section .featured-courses-container .first-card .rounded-button {
    margin-top: 2rem;
    background-color: transparent;
    border: 2px solid var(--orange);
    color: var(--orange); 
    padding: 1rem 2rem;
    border-radius: 30px; 
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    outline: none;
  }
  .featured-courses-section .featured-courses-container .first-card .rounded-button:hover {
    background-color: var(--orange);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    color: var(--white);
  }
  .featured-courses-section .featured-courses-container .course-card {
    flex: 1 0 calc(20.3333% - 2rem); 
    background-color: var(--white); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    margin: 1rem; 
  }
  .featured-courses-section .featured-courses-container .course-card h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    color: var(--blue);
  }
  .featured-courses-section .featured-courses-container .course-card p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--blue);
    font-weight: 500;
  }
  .featured-courses-section .featured-courses-container .course-card p i{
    color: var(--orange);
  }
  .featured-courses-section .featured-courses-container .course-card img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    border-radius: 5px;
  }
  .featured-courses-section .featured-courses-container .course-card .rounded-button {
    background-color: var(--orange); 
    color: var(--white); 
    padding: 1rem 2rem;
    border-radius: 30px; 
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: none;
    outline: none;
  }
  .featured-courses-section .featured-courses-container .course-card .rounded-button a{
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
  }
  .featured-courses-section .featured-courses-container .course-card .rounded-button i {
    margin-right: 0.5rem;
  }
  .featured-courses-section .featured-courses-container .course-card .rounded-button:hover {
    background-color: var(--orange);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    color: var(--white);
  }
  /* ######Category Section###########  */
  /* ######About Section##############  */
  .about-us-section {
    padding: 3rem 0;
    text-align: center;
    margin-top: -7rem;
  }
  .about-us-section h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: -1.2rem;
    color: var(--blue); 
  }
  .about-us-section h2 span {
    color: var(--orange);
  }
  
  .about-us-section .about-us-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: -2rem;
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
  }
  .about-us-section .about-us-container .about-profile-container,
  .about-us-section .about-us-container .about-mission-container {
    flex: 1 0 calc(30% - 1rem); /* Each card takes up 50% width with some margin */
    padding: 2rem;
    margin-bottom: 0.4rem; /* Add margin to the bottom to separate the cards */
    text-align: justify;
  }
  .about-us-section .about-us-container h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: var(--blue); /* Use the primary color for the header text */
  }
  .about-us-section .about-us-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .about-us-section .about-us-container p span {
    color: var(--orange);
    font-weight: bold;
  }
  /* ######About Section##############  */
  /* ######Subscription Section###########  */
  .subscription-section {
    padding: 1rem 0;
    margin-top: -4rem;
  }
  .subscription-section h2 {
    font-size: 2.5rem;
    margin-top: -1rem;
    color: var(--blue);
    text-align: center;
  }
  .subscription-section h3 {
    font-size: 1.8rem;
    text-align: center;
    color: var(--orange);
    margin-top: -.4rem;
  }
  .subscription-section .subscription-container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: space-between; 
  }
  .subscription-section .subscription-container .subscription-card {
    flex: 1 0 calc(30% - 2rem); 
    background-color: var(--white); 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .subscription-section .subscription-container .subscription-card h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--blue); 
  }
  .subscription-section .subscription-container .subscription-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .subscription-section .subscription-container .subscription-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .subscription-section .subscription-container .subscription-card ul li {
    margin-bottom: 0.5rem;
  }
  .subscription-section .subscription-container .subscription-card .free-subscriber {
    color: var(--Gray);
    margin-top: 4rem;
  }
  .subscription-section .subscription-container .subscription-card .subscribe-button {
    display: block;
    width: 50%;
    background-color: var(--orange); 
    color: var(--white); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px; 
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2rem;
  }
  .subscription-section .subscription-container .subscription-card .subscribe-button:hover {
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--orange);
    color: var(--orange);
  }
  /* ######Subscription Section###########  */
  /* ######Testimonial Section###########  */
  .testimonial-section {
    background-image: url("/assets/testimonials.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    padding: 1rem 0;
  }
  .testimonial-section .testimonial-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
  }
  .testimonial-section .testimonial-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--white); 
    grid-column: 1/-1; 
  }
  .testimonial-section .testimonial-container .testimonial-card {
    background-color: var(--white); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
  }
  .testimonial-section .testimonial-container .testimonial-card h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue); 
    margin-bottom: 0.5rem;
  }
  .testimonial-section .testimonial-container .testimonial-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-style: italic;
  }
  /* ######Testimonial Section###########  */
  /* ######Contact Section###########  */
  .contact-us-section {
    padding: 3rem 0;
  }
  .contact-us-section .contact-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    flex-wrap: wrap; 
  }
  .contact-us-section .contact-container .contact-left {
    flex: 1 0 40%; 
    padding: 2rem;
  }
  .contact-us-section .contact-container .contact-left h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--blue); 
  }
  .contact-us-section .contact-container .contact-left p {
    font-size: 1.2rem;
    color: var(--blue);
  }
  .contact-us-section .contact-container .contact-left p i {
    font-size: 2.3rem;
    color: var(--orange);
    margin-inline: 1rem;
  }
  .contact-us-section .contact-container .contact-right {
    flex: 1 0 40%; 
    padding: 2rem;
  }
  .contact-us-section .contact-container .contact-card {
    background-color: transparent; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
  }
  .contact-us-section .contact-container .contact-card form {
    margin-right: 1.8rem;
  }
  .contact-us-section .contact-container .contact-card form .form-group {
    margin-bottom: 1rem;
  }
  .contact-us-section .contact-container .contact-card form .form-group input,
  .contact-us-section .contact-container .contact-card form .form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid var(--blue);
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
  }
  .contact-us-section .contact-container .contact-card form .form-group input {
    border-radius: 30px;
  }
  .contact-us-section .contact-container .contact-card form .form-group textarea {
    resize: vertical;
  }
  .contact-us-section .contact-container .contact-card form .form-group button {
    background-color: var(--orange); 
    color: var(--white); 
    padding: 1rem 2rem;
    border: none;
    border-radius: 30px; 
    font-size: 1rem;
    cursor: pointer;
  }
  .contact-us-section .contact-container .contact-card form .form-group button:hover {
    background-color: var(--orange);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    color: var(--white);
  }
  /* ######Contact Section###########  */
  /* ######Counter Section###########  */
  .counters-section {
    background-color: var(--orange); 
    padding: 3rem 0;
  }
  .counters-section .counters-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem; 
  }
  .counters-section .counters-container .counter-item {
    background-color: transparent; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .counters-section .counters-container .counter-item h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--white); 
    margin-bottom: 1rem;
  }
  .counters-section .counters-container .counter-item h4 {
    font-size: 1.5rem;
    color: var(--white); 
  }
  /* ######Counter Section###########  */
  /* ######Footer Section###########  */
  .footer-section {
    background-color: var(--blue); 
    color: var(--white); 
    padding: 3rem 0;
    margin-bottom: -5rem;
  }
  .footer-section .footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .footer-section .footer-row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .footer-section .footer-card {
    flex: 1 0 calc(23% - 2rem); 
    padding: 2rem;
    border-radius: 10px;
    text-align: justify;
  }
  .footer-section .footer-card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .footer-section .footer-card h2 img {
    height: 100px;
    width: 100px;
    display: inline;
    margin-bottom: -2rem;
    margin-right: -2rem;
  }
  .footer-section .footer-card p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .footer-section .footer-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-section .footer-card li {
    margin-bottom: 0.5rem;
  }
  .footer-section .footer-card a {
    color: var(--white); 
    text-decoration: none;
  }
  .footer-section .footer-card .social-icons {
    color: var(--white);
    margin-left: 0.5rem;
  }
  .footer-section .footer-card .social-icons a {
    margin: 1rem;
  }
  .footer-section .footer-card .social-icons a i {
    font-size: 2.5rem;
  }
  .footer-section .footer-row2 {
    border-top: 1px solid var(--white);
    text-align: center;
  }
  .footer-section .footer-row2 p {
    padding-top: .8rem;
    font-size: 1.2rem;
  }
  /* ######Footer Section###########  */

  /* #######################################Signup Form##################################  */

  .signup{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .signup .logo{
    margin-top: -3rem;
  }
  .signup-container{
    width: 100%;
    max-width: 650px;
    background-color: var(--white);
    padding: 1.5rem;
    margin: 0 1.5rem;
    border-radius: .8rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 0;
    width: 100%;
  }
  .user-input-box {
    margin-block: .6rem;
    width: 47%;
  }
 
  /* #######################################SignIn Form##################################  */
  .login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .login-container{
    width: 100%;
    max-width: 450px;
    background-color: var(--white);
    padding: 1.5rem;
    margin: 0 1rem;
    border-radius: .8rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .login .logo, .signup .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.logo img{
    height: 5rem;
    width: 17rem;
    margin-top: 1.5rem;
    display: inline-block;
}
.login__form{
  position: relative;
  margin-inline: 1.5rem;
}
.login__title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 1.25rem;
}
.signup__box{
  width: 40%;
}
.login__inputs, .login__box{
  display: grid;
}
.login__inputs{
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}
.login__box{
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid var(--orange);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}
.login__input,
.login__button{
  border: none;
  outline: none;
}
.login__input{
  width: 100%;
  background: transparent;
  padding-block: 1rem;
}
.login__input::placeholder{
  color: var(--blue);
}
.login__box i{
  font-size: 1.25rem;
  color: var(--blue);
}
.login__check{
  width: 100%;
}
.login__check p{
  font-size: 12px;
  text-align: center;
  margin-block: .5rem;
}
.login__check p i{
  color: var(--orange);
}
.login__button{
  width: 100%;
  border-radius: 4rem;
  padding-block: 1.2rem;
  margin-top: .2rem;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login__button a{
  text-decoration: none;
  color: var(--white);
}
.back__to__home{
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
}
.back__to__home p{
  font-size: 12px;
  text-align: center;
}
.back__to__home a{
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
}
.footer-text{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
 /* ###########################################Payment Method######################################  */
 .payment-wrapper{
  background-color: var(--white);
  width: 500px;
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 }
 .payment-wrapper h2{
    font-size: 24px;
    padding: 10px;
    text-align: center;
    margin-bottom: 8px;
 }
 .payment-wrapper h4{
  padding-bottom: 5px;
 }
 .payment-wrapper .input_group{
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
 }
 .payment-wrapper .input_group .input_box{
  width: 100%;
  margin-right: 12px;
  position: relative;
 }
 .payment-wrapper .input_group .input_box:last-child{
  margin-right: 0;
 }
 .payment-wrapper .input_group .input_box .name{
  padding: 14px 10px 14px 50px;
  width: 100%;
  background: transparent;
  border: 1px solid var(--orange);
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 4rem;
  color: var(--blue);
 }
 .payment-wrapper .input_box .name:focus, .dob:focus{
  -webkit-box-shadow: 0 0 2px 1px var(--blue);
  box-shadow:  0 0 2px 1px var(--blue);
  border: 1px solid var(--blue);
 }
 .payment-wrapper .input_box .icon{
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  top: 0px;
  color: var(--blue);
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  pointer-events: none;
  border-right: none;
 }
 .payment-wrapper .input_box .name:focus+.icon{
  color: var(--orange);
  transition: 0.3s;
 }
 .dob{
  width: 35%;
  padding: 14px;
  text-align: center;
  background: transparent;
  outline: none;
  border: 1px solid var(--orange);
  border-radius: 4rem;
  margin-right: 5px;
 }
 .payment-wrapper .input_box label{
  width: 49%;
  padding: 13px;
  background: var(--Gray);
  display: inline-block;
  text-align: center;
  border: 1px solid var(--orange);
  border-radius: 4rem;
 }
 .payment-wrapper .input_box label:first-of-type{
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
 }
 .payment-wrapper .input_box label:last-of-type{
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
 }
 .radio{
  display: none;
 }
 .radio:checked+label{
  background-color: var(--orange);
  color: var(--white);
  transition: 0.5s;
 }
 .payment-wrapper .input_group .input_box button{
  width: 49%;
  background: var(--orange);
  border: none;
  padding: 15px;
  border-right: 4px;
  font-size: 16px;
  transition: all 0.3s;
  border-radius: 4rem;
 }
 .payment-wrapper .input_group .input_box button:hover{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--orange);
  
 }
 .payment-wrapper .input_group .input_box button a{
  color: var(--white);
  text-decoration: none;
 }
 .payment-wrapper .input_group .input_box button:hover a{
  color: var(--orange);
 }
 /* ###########################################Payment Method######################################  */

  /* ###########################################End######################################  */